# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------
title: survive-and-go
name: survive-and-go
email: 
footer_text: >
  <a href="https://github.com/survive-and-go.github.io">Github</a>
url: https://survive-and-go.github.io/ # the base hostname & protocol for your site

# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------
blog_name: Survivors

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

text:
  pagination:
    newer: 'Newer'
    older: 'Older'

# Comments
disqus_shortname: survivor # put your disqus shortname

# Optional features
show_social_icons:  false
enable_anchorjs:    false
enable_katex:       true

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Build settings
markdown: kramdown
rouge: pygments

# Includes & excludes
include: ['_pages']
exclude: [vendor]

# Plug-ins
plugins:
    - jekyll-email-protect
    - jekyll-paginate
    - jemoji

# -----------------------------------------------------------------------------
# Other settings
# -----------------------------------------------------------------------------
jquery_version: "1.12.4"
katex_version: "0.9.0"
anchorjs_version: "3.2.2"
