.page-content {
    padding: 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
    padding-top: 60px;
    padding-bottom: 80px;
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}

.top-wrapper {
    width: 40%;
    min-width: 200px;
}

.main-header {
    font-weight: bold;
    color: #0366d6;
    font-size: 11pt;
    letter-spacing: 0.5px;
    margin-top: 2.5em;
    margin-bottom: 0;
}