#search-demo-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
}

#container-wrapper {
    width:40%;
    min-width: 250px;
}

#search-input {
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 0.5em;
    height: 2.5em;
    padding-left: 1em;
    margin: 0;
    &:focus {
        outline:none;
    }
    &:hover {
        border: none;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    }
}

#results-container {
    width: 100%;
    background-color: white;
    max-height: 100%;
    overflow: auto;
    margin-left: -0.05em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    list-style: none;
    padding: 0;
    & > li {
        line-height: 2em;
        padding-left: 1em;
        &:hover {
            background-color: rgba(0,0,0,0.1)
        }
        span {
            color: black;
            margin-left: 1em;
            font-weight: bold;
        }
        a {
            white-space: nowrap;
        }
        a:hover {
            color: #333;
        }
    }
}
