---
layout: page
---

<h3 class="main-header">RECENT ARTICLES</h3>
<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <div class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
      <div class="post-tags">
        {% for tag in post.tags %}
          {% capture tagname %}{{ tag }}{% endcapture %}
          <a class="tag" href="/blog/tags/{{ tagname }}">{{ tagname }}</a>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}

